<template>
    <div class="inline-block px-1.5 py-0.5 rounded bg-primary1 text-white">
      <span>{{ badgeText }}</span>
      <button class="ml-1.5" @click="deleteBadge">×</button>
    </div>
  </template>
      
  <script>
  export default {
    name: 'DeletableBadge',
    props: {
      badgeText: {
        type: String,
        required: true,
      },
    },
    methods: {
      deleteBadge() {
        this.$emit('badge-deleted');
      },
    },
  };
  </script>
  