<template>
    <div class="relative" ref="componentRef">
        <button class="py-1.5 px-2 bg-primary1 hover:bg-primary2 duration-150 text-white" @click="isOpen = !isOpen">
          <span class="">{{ dropdownTitle }}</span> 
          <font-awesome-icon :icon="['fas', isOpen ? 'angle-up' : 'angle-down']" class="ml-2 -mb-0.5"/>
        </button>
        <ul v-if="isOpen" class="z-50 max-h-72 overflow-y-auto overflow-x-hidden absolute 
         m-0 p-0 left-0 top-full bg-white border">
          <li v-for="word in filteredWords" :key="word" @click="selectWord(word)" 
          class="px-0.5 py-1 cursor-pointer hover:bg-stone-100">
            {{ word.text }}
          </li>
        </ul>
      </div>
    </template>
    
    <script>
    export default {
        name: 'DropdownMenu',
        props: {
            multiSelect: {
                type: Boolean,
                required: true
            },
            dropdownTitle: {
                type: String,
                required: true
            },
            words: {
                type: Array,
                required: true,
            },
        },
        data() {
            return {
                isOpen: false,
                selectedWord: '',
                filteredWords: [],
            }
        },
        mounted() {
            this.filteredWords = [...this.words];
            document.addEventListener('click', this.handleClickOutside);
        },
        beforeUnmount() {
            document.removeEventListener('click', this.handleClickOutside);
        },
        methods: {
            handleClickOutside(event) {
                if (!this.$refs.componentRef.contains(event.target)) 
                    this.isOpen = false;
            },
            selectWord(word) {
              this.selectedWord = word;
              this.$emit('word-selected', word);
              this.isOpen = false;
    
              if(this.multiSelect)
                this.filteredWords = this.filteredWords.filter(w => w !== word); // Remove the selected word from the dropdown
            },
            removeFromSelected(value) {
              this.filteredWords.push(value);
              this.filteredWords.sort((a,b) => 
                this.words.findIndex(word => word.text === a) - this.words.findIndex(word => word.text === b))
            },
        },
    }
    </script>
    
<style scoped>

</style>