<template>
    <div class="absolute top-0 left-0 w-full flex justify-center" :class="message != null && message != undefined && message != ''.trim() ? 'h-64' : 'h-32'">
        <div class="h-full w-1/3 bg-nearWhite rounded-lg border border-slate-500 shadow-2xl flex flex-col" ref="modalContainer">

            <div class="bg-white rounded-t-lg min-h-fit shadow-sm flex items-center justify-between px-2 py-2"
            :class="message != null && message != undefined && message.trim() != '' ? 'h-1/6' : ''">
                <p class="text-xl font-Ubuntu">
                    
                    <font-awesome-icon :icon="['fas', type == 'danger' ? 'circle-exclamation' : type == 'success' ? 
                    'circle-check' : 'circle-info']" :class="type === 'danger' ? 'text-red-500' : 
                type === 'success' ? 'text-green-500' :
                'text-primary'"/>
                    {{ title }}</p>
                <button @click="closeThisModal" class="text-gray-400 text-2xl hover:text-red-600 duration-200">
                    <font-awesome-icon :icon="['fas', 'circle-xmark']" class="shadow rounded-full"/>

                </button>
            </div>
            
            <div class="h-3/6 p-2 shadow-inner text-lg" v-if="message != null && message != undefined && message != ''.trim()">
                <p v-for="line in message.split(/<br>|\\n/, )" :key="line">{{ line }}</p>
            </div>
            
            <div class="h-2/6 pt-10 rounded-b-lg font-medium" v-if="confirm">
                <button class="py-1 px-6 w-1/2 bg-gray-300 h-full hover:bg-stone-400 duration-150 border-slate-500 
                border-t border-r rounded-bl-md tracking-wide"
                @click="closeThisModal">
                    Cancelar
                </button>
                <button class="py-1 px-6 w-1/2 h-full border-t border-l border-slate-500 text-white 
                rounded-br-md tracking-wide duration-150" 
                :class="type === 'danger' ? 'bg-red-500 hover:bg-red-700' : 
                type === 'success' ? 'bg-green-500 hover:bg-green-700' :
                'bg-primary1 hover:bg-primary2'" @click="confirmThisModal">
                    {{ buttonText }}
                </button>

            </div>
            <div v-else class="pt-2 rounded-b-lg font-medium flex justify-center items-center" 
            :class="message != null && message != undefined && message != ''.trim() ? 'h-2/6' : 'h-4/6 pb-1 pt-0'">
                <button class="py-1 px-6 w-1/2 h-10 border border-slate-500 text-white 
                rounded-md tracking-wide duration-150" 
                :class="type === 'danger' ? 'bg-red-500 hover:bg-red-700' : 
                type === 'success' ? 'bg-green-500 hover:bg-green-700' :
                'bg-primary1 hover:bg-primary2'" @click="closeThisModal">
                    {{ buttonText }}
                </button>

            </div>
            


        </div>
    </div>
</template>
<script>

export default {
    name: 'ModalVue',
    emits: ['closeModal', 'confirmModal'],
    props:{
        name: String,
        type: String,
        confirm: Boolean,
        title: String,
        message: String,
        buttonText: String

        
    },
    mounted() {
        
        window.addEventListener('click', this.handleClickOutside);
        
    },
    beforeUnmount() {
        window.removeEventListener('click', this.handleClickOutside);
    },
    methods: {
        handleClickOutside(event) {
            

            if (!this.$refs.modalContainer.contains(event.target) ) {
                this.closeThisModal()
            }
        },
        closeThisModal(){
            this.$emit('closeModal', this.name)
        },
        confirmThisModal(){
            this.$emit('confirmModal', this.name)
        }
    }
}
</script>
<!-- 
<style scoped>
#card{
    position: absolute;
    height: 200px;
    width: 400px;
    margin-left: 100px;
    background-color: red !important;
    clip-path: path("M0 25 Q0 0 25 0 H150 Q150 50 200 50 Q250 50 250 0 H375 Q400 0 400 25 V175 Q400 200 375 200 H25 Q0 200 0 175 Z");
}
</style> -->