<template>
    <div class="w-full bg-nearWhite" :class="descriptionBoxOpen ? 'h-fit' : 'h-44'" ref="descriptionBox">
            <div class="flex flex-col pl-96 overflow-hidden">
            <div class="pt-2 pl-8 text-2xl font-semibold">
                <p>{{ user !== null ? user.name : '' }}</p>
            </div>
            <div class="pl-8 pt-2  w-[32rem] break-words " :class="descriptionBoxOpen ? 'h-fit' : 'h-[6.5rem]'">
                
                <p v-for="line, index in user !== null && user.profile_description ? user.profile_description.split(/(<br>)/).filter( line => line.match(/(<br>)/) == null ) ?? [] : []" :ref="(el) => {descriptionElements[index] = el}" :key="index">{{ line }}</p>
            </div>
        </div>
        <div class="pl-96 " :class="hasBigDescription ? 'block' : 'hidden'">
            <a class="pl-8 text-gray-400 hover:cursor-pointer hover:text-gray-500" @click="toggleDescription" ref="toggleDescriptionText">Ver mais</a>
        </div>
    </div>
</template>

<script>
import { nextTick } from 'vue';

export default {
    name: 'ProfileDescription',
    emits: ['onDescriptionExtended'], 
    props: {
        user: {
            name: String,
            profile_description: String,
        }
    }, 
    data() {
        return{ 
            profileDesc: '',
            profileDescLines: [],
            descriptionBoxOpen: false, 
            hasBigDescription: false,
            descriptionElements: []
        }
    },
    methods: {
        toggleDescription(){
            this.descriptionBoxOpen = !this.descriptionBoxOpen
            nextTick( () => {
                this.$emit('onDescriptionExtended', this.$refs.descriptionBox.clientHeight)
            })
        },
        checkBigDescription(){
            let totalDescLines = this.profileDescLines.length;
            this.profileDescLines.forEach( (line, index) => {
                let paragraphHeight = this.descriptionElements[index].clientHeight 
                while ( paragraphHeight > 24  ){
                    totalDescLines++;
                    paragraphHeight -= 24;
                }
            })


            if ( totalDescLines > 4)
                return true;
            return false
        }
        
    },
    watch: {
        descriptionBoxOpen(){
            if ( this.descriptionBoxOpen === false)
                this.$refs.toggleDescriptionText.innerText = 'Ver mais'
            else
            this.$refs.toggleDescriptionText.innerText = 'Ver menos'
        },
        descriptionElements: {
            handler(){
            if ( this.descriptionElements.length == this.profileDescLines.length )
                this.hasBigDescription = this.checkBigDescription()
        
            },
            deep: true
        },
        user:{

            handler(){
                if ( this.user !== null && this.user.profile_description !== null){
                    this.profileDesc = this.user.profile_description
            
                    this.profileDescLines = this.profileDesc.split(/(<br>)/)
                    this.profileDescLines = this.profileDescLines.filter( line => line.match(/(<br>)/) == null )
                }
            },
            deep: true
        },
    },
    mounted(){
        
    },


}
</script>

<style>


</style>