<template>
  <div class="w-full bg-gradient-to-r from-primary1 to-primary2 h-48 relative pt-10 flex shadow-md pl-32">
    <ProfileImage :user="user"></ProfileImage>
    <div class="ml-10 flex flex-col justify-end text-center pb-8 text-white text-xl font-mono ">
      <p class="italic font-semibold">{{totalProjects}}</p>
      <p>Projetos</p>
    </div>
    <div class="ml-10 flex flex-col justify-end text-center pb-8 text-white text-xl font-mono ">
      <p class="italic font-semibold">{{totalLanguages}}</p>
      <p>Linguagens</p>
    </div>
  </div>
  <div class="w-full bg-nearWhite h-44">
    <ProfileDescription :user="user" @onDescriptionExtended="handleEvent"/>
  </div>
</template>

<script>
import ProfileImage from './profileImage.vue';
import ProfileDescription from './profileDescription.vue';

import projectService from '../../graphql/projects'; 
import languageService from '../../graphql/languages'

import { useQuery } from '@vue/apollo-composable';
import { computed } from 'vue';

export default {
    name: "ProfilePack",
    emits: ['onDescriptionExtended'],
    components: { ProfileImage, ProfileDescription},
    props: {
      user: {
        id: String,
        name: String,
        profile_description: String,
        profile_image: String
      }
    },
    data(){
      return {
        totalProjects: this.countProjects(),
        totalLanguages: this.countLanguages(),
      }
    },
    methods: {
      countProjects(){
        if ( !this.checkUserNotNull())
          return

        let { result, refetch } = useQuery( projectService.COUNT_USER_PROJECTS(this.user.id))

        if ( !this.totalProjects)
          refetch()
        return computed( () => result.value?.countUserProjects ?? 0)
      },
      countLanguages(){
        if ( !this.checkUserNotNull())
          return
        
          let { result, refetch } = useQuery( languageService.COUNT_USER_LANGUAGES(this.user.id))

          if ( !this.totalLanguages )
            refetch()
        
          return computed( () => result.value?.countUserLanguages ?? 0)
      },
      checkUserNotNull(){
        if ( this.user === null || !('id' in this.user))
          return false
        return true
      },
      handleEvent(data){
        this.$emit("onDescriptionExtended", data)
      }
    },
    watch: {
      user: {
        handler(){
          this.totalProjects = this.countProjects()
          this.totalLanguages = this.countLanguages()
        },
        deep: true

      }
    },
    mounted(){

    }
}
</script>

