<template >
    <div class="h-64 w-64 relative rounded-full mt-6 bg-white shadow-xl border-4 border-nearWhite">
        <img class=" h-full w-full rounded-full object-cover" 
        :src="user !== null && user.profile_image != null && user.name !== null && user.id !== null 
        ? 'https://neuensar.sirv.com/PANDORA_CODE/' + this.user.id+ '/profileImg_'+ this.user.profile_image  +'.png' : '/default-profile-pic.png' ">
    </div>
</template>

<script>
export default {
    name: 'ProfileImage',
    props: {
        user: {
            id: String,
            name: String,
            profile_image: String,
        },
        
    },
    data() {
    return {
        
    }
  },
}

</script>