<template>
    <div class="w-full h-full bg-transparent relative grid grid-cols-12 gap-x-2">
        <div class="col-span-3 flex flex-col items-center">
            <div class="h-64 w-64 relative rounded-full mt-2 bg-white shadow-xl border-4 border-nearWhite">
                <img class=" h-full w-full rounded-full object-cover"
                :src="previewImage !== null ? previewImage :  '/default-profile-pic.png' ">
            </div>
            <p class=" mt-3 mb-2">Alterar imagem de perfil:</p>
            <input type="file" @change="readFile()" class="block w-3/4 text-xs file:bg-primary1 file:rounded-full
            file:h-8 file:px-4 file:text-base file:border-0 file:shadow-none hover:file:bg-primary2 file:text-nearWhite 
            file:duration-150 hover:file:cursor-pointer file:font-normal" ref="fileInput">
            <button class="h-10 px-5 bg-primary1 w-52 mt-20 rounded-full text-white hover:bg-primary2 duration-150
            disabled:grayscale disabled:opacity-50 disabled:hover:bg-primary1"
            :disabled="equalObjects(userData, newUser) " @click="updateUser">
                Guardar Alterações
                <font-awesome-icon :icon="['fass', 'floppy-disk']" class="ml-0.5"/>
            </button>
            <button class="h-10 px-5 bg-red-500 w-52 mt-2 rounded-full text-white hover:bg-rose-700 duration-150"
            @click="onDeleteUser" ref="deleteAccountButton">
                Eliminar Conta
                <font-awesome-icon v-if="isLoading" :icon="['fas', 'spinner']" class="animate-spin"/>
                <font-awesome-icon v-else :icon="['fas', 'trash']" class="ml-0.5"/>
            </button>
        </div>
        <div class="col-span-9 border-l" >
            
            <h1 class="text-4xl font-semibold ml-5 mt-2 mb-2">Minha Conta</h1>
            
            <div class="flex flex-col ml-5">
                <p v-if="userData != null && 'createdAt' in userData" class="mb-6 text-xs ml-0.5 text-gray-500">Membro desde: {{ getIsMemberSince() }}</p>

                <label class="font-mono mb-1 ml-1 text-lg">Nome<div v-if="error.name" class="text-red-500">
                    <font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.name}}</div>
                </label>
                <input type="text" v-model="newUser.name" class="h-9 w-96 mt-1 rounded border border-slate-300 px-2 shadow
                focus:outline-primary1 focus:outline-1">
                
                <div class="mt-8 mb-1 ml-1">
                    <label class="font-mono text-lg">Biografia</label>
                    <p class="text-sm font-mono mt-1 tracking-tight text-gray-500">Usa '&lt;br&gt;' para inserir novas linhas</p>
                </div>
                <textarea name="description" id="" cols="64" rows="8" maxlength="511" v-model="newUser.profile_description"
                class="border resize-none text-lg w-[40rem] rounded shadow px-2 py-1 focus:outline-primary1 focus:outline-1"></textarea>

                <div class="mt-6 ml-0.5 h-12 relative">
                    <label class="text-sm font-mono ">Perfil público</label>
                    <span class="h-1/2 absolute">

                        <button class="w-4 h-4 border-gray-400 border rounded ml-3 mt-1.5" 
                        :class="newUser != null && 'profile_public' in newUser ? 
                        newUser.profile_public ? 'bg-primary1' : 'bg-transparent' : 'bg-transparent'"
                        @click="toggleProfilePublic()" >
                        <font-awesome-icon v-if="newUser.profile_public" :icon="['fas', 'check']" size="sm"
                        class="ml-[0.0325rem] mb-1 text-white"/>
                        </button>
                    </span>
                    <span class="ml-12">
                        <font-awesome-icon :icon="['fas', 'info-circle']" class="mt-1.5 info-public-profile text-gray-400"/>
                        <div class="hidden hover:inline-block absolute ">
                            <span class="h-fit w-56 ml-5 bg-primary1 py-1 px-4 text-xs text-white rounded inline-flex
                            text-center items-center">
                            <div>
                                <p>
                                    Quando ativado, a sua página pode ser acedida por qualquer pessoa com o seu url

                                </p>
                            </div>
                        </span>
                        </div>
                    </span>
                    <div v-if="newUser.profile_public ">
                        <span class="text-xs text-gray-500">url público: <p>localhost:8080/users/{{ userData.id }}/</p> </span>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <ModalVue class="mt-32" v-if="showModal['deleteAccount']" name="deleteAccount"
    title="Eliminação de Conta" message="Contas eliminadas não são recuperáveis<br>Tens a certeza que queres eliminar a tua conta?"
    type="danger" :confirm="true" buttonText="Eliminar" @closeModal="closeModal" @confirmModal="deleteUser"/>
    <ModalVue class="mt-32" v-if="showModal['userUpdatedSuccessfully']" name="userUpdatedSuccessfully" :message="null"
    title="Utilizador modificado com sucesso" type="success" :confirm="false" buttonText="Fechar" @closeModal="closeModal"/>
    <ModalVue class="mt-32" v-if="showModal['userUpdateError']" name="userUpdateError" :message="null"
    title="Erro a modificar o utilizador" type="danger" :confirm="false" buttonText="Fechar" @closeModal="closeModal"/>
    <ModalVue class="mt-32" v-if="showModal['userUpdateErrorImage']" name="userUpdateErrorImage" message="Não foi possível guardar a sua imagem de perfil!"
    title="Erro a modificar o utilizador" type="danger" :confirm="false" buttonText="Fechar" @closeModal="closeModal"/>
    
</template>
<script>
import ModalVue from '@/components/Modal/modalVue.vue'

import UserService from '@/graphql/users'
import { useMutation } from '@vue/apollo-composable'
import { computed } from 'vue'

import axios from 'axios'

export default {
    components: { ModalVue },
    emits: ['onNameUpdated'],
    props:{
        user: {
            id: String,
            name: String,
            email: String,
            password: String,
            profile_description: String,
            profile_image: String,
            profile_public: Boolean,

        }
    },
    data(){
        return{
            previewImage: null,
            imageChanged: false,
            userData: {},
            isLoading: false,
            error: {
                name: false,
                image: false,
            },
            newUser: {
                name: '',
                profile_description: '',
                profile_image: null,
            },
            sirvApiToken: null,
            showModal: {
                deleteAccount: false,
                userUpdatedSuccessfully: false,
                userUpdateError: false,
            },
        }
    },
    methods:{
        deleteUser() {
            const { mutate } = useMutation(UserService.DELETE_USER({id: this.user.id}))
            this.isLoading = true
            mutate().then( (result) => {
                this.isLoading = false
                if(result?.data?.deleteUser) {
                    // alert("Utilizador eliminado com sucessso!") // TODO: Mudar para modal
                    this.$router.push('sessions/login')
                    return;
                }
                alert("Não foi possível eliminar o utilizador. Por favor tenta mais tarde.") // TODO: Mudar para modal
            })
        },
        onDeleteUser(e) {
            e.stopPropagation()

            this.showModal['deleteAccount'] = true

            // if(confirm("Tens a certeza que pretendes eliminar esta conta?")) // TODO: Mudar para ConfirmDialog (Modal)
            //     this.deleteUser();
        },
        readFile(){
            let file = this.$refs.fileInput.files[0]
            if ( file && file.type.includes('image') ){
                this.previewImage = URL.createObjectURL( file)  
                this.newUser.profile_image = Date.now();
                this.imageChanged = true
            }
            else{
                this.previewImage = null
                this.newUser.profile_image = null;
                if ( this.user.profile_image == null)
                    this.imageChanged = false;
            }
        },
        equalObjects(obj1, obj2){
            for (const key in obj1) {
                if ( key in obj2 && obj2[key] == obj1[key])
                    continue
                
                
                return false;
            }
            if ( this.imageChanged == true)
                return false

            return true
        },
        getIsMemberSince(){
            if ( this.user == null || !('createdAt' in this.user) )
                return ''
            let date = new Date(this.user.createdAt)
            let stringDate = ''

            stringDate += date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear() ;

            return stringDate;
        },
        async deleteUserProfileImage(apiKey, uniqueQuery ){
            try {
                await axios.post('https://api.sirv.com/v2/files/delete?filename=%2FPANDORA_CODE%2F'+ this.user.id+ '%2FprofileImg_'+ uniqueQuery +'.png',
                 null, {
                    headers: {
                        Authorization: "Bearer "+ apiKey,
                        "Content-Type": "application/json"
                    }
                })
                
            } catch (error) {
                // eslint-disable-next-line no-ex-assign
                error = null
            }
        },
        isNameValid()  {
            const EMPTY = 'O nome não pode estar vazio!';
            const TOO_BIG = 'O nome não pode ser superior a 64 carateres!';

            // Não pode estar vazio ou com espaços em branco
            if(this.newUser.name.trim() === '') {
                this.error.name = EMPTY;
                return false;
            }
                
            // Não pode ser demasiado grande
            if(this.newUser.name.length > 64) {
                this.error.name = TOO_BIG;
                return false;
            }
            
            this.error.name = '';
            return true;
        },
        isImageValid(){
            return true;
        },
        areFieldsValid() {
            return this.isNameValid() && this.isImageValid();
        },
        async updateUser(e){
            e.stopPropagation()

            if(!this.areFieldsValid())
                return;

            //todo start loading screen

            if ( this.newUser.profile_image != null && this.imageChanged == true){
                this.newUser.profile_image = this.newUser.profile_image.toString()

                try {
                    let token = await this.getSirvApiKey("WsqgY0T5Bk8neESXK3QHsQCMxhs", "Ivt4e39q3NKsk/hOb+J2QiPY7Z/oTQ4RWtVV2mCUEqhl9FA1FIpAUz+Du4fOP/oz8Sz73CjwulOzHv9DvNabXg==")
                    await this.uploadImageToApi( this.$refs.fileInput.files[0], token, this.newUser.profile_image)

                    if ( this.userData.profile_image != null)
                        this.deleteUserProfileImage(token, this.userData.profile_image)
                } catch (error) {
                    this.showModal['userUpdateErrorImage'] = true
                    this.newUser.profile_image = this.userData.profile_image
                }

            }
            this.newUser.profile_image = this.newUser.profile_image != null  ? '"'+ this.newUser.profile_image + '"' : null
            if ( this.newUser.profile_description != null )
                this.newUser.profile_description = this.newUser.profile_description.replaceAll('\n', '<br>')

            let { mutate } = useMutation(UserService.UPDATE_USER({
                id: this.userData.id,
                name: this.newUser.name,
                profile_description: this.newUser.profile_description,
                profile_image: this.newUser.profile_image,
                profile_public: this.newUser.profile_public,
            }))

            
            mutate().then( (result) => {
                
                this.userData = computed( () => result.data?.updateUser ?? this.userData ) 
                this.showModal['userUpdatedSuccessfully'] = true
            }).catch( () => {
                this.showModal['userUpdateError'] = true
            })

            let session = this.getSession()
            let rememberMe = true;
            
            if ( 'expirationDate' in session)
                rememberMe = false
            this.createSession({
                id: session.id,
                email: session.email,
                name: this.newUser.name
            }, rememberMe)
            
            this.$emit('onNameUpdated', this.newUser.name);

            this.imageChanged = false

            

        },
        async uploadImageToApi( img, apiKey, uniqueQuery){
            
            return await axios.post('https://api.sirv.com/v2/files/upload?filename=%2FPANDORA_CODE%2F'+ this.user.id+ '%2FprofileImg_'+ uniqueQuery +'.png', 
            img, {headers: {
                Authorization: "Bearer "+ apiKey,
                "Content-Type": "application/json"
            }})

            
        },
        toggleProfilePublic(){
            this.newUser.profile_public = !this.newUser.profile_public
        },

        async getSirvApiKey( clientId, clientSecret){
            let response = await axios.post('https://api.sirv.com/v2/token', 
            {"clientId": clientId, "clientSecret": clientSecret})
            let token = response.data?.token ?? null
            return token
        },
        closeModal(name){
            this.showModal[name] = false
        }

    },
    watch:{
        user(){
            if ( this.userData.id == null)
                this.userData = {... this.user}
        },
        userData(){
            
            this.newUser = {... this.userData} 
            
            if ( this.userData.profile_image != null)
                this.previewImage = 'https://neuensar.sirv.com/PANDORA_CODE/' + this.userData.id+ '/profileImg_'+ this.userData.profile_image  +'.png' 
        }
    },
    mounted(){
        this.userData = {... this.user} 
            
        if ( this.user != null && 'profile_image' in this.user && this.user.profile_image != null)
            this.previewImage = 'https://neuensar.sirv.com/PANDORA_CODE/' + this.user.id+ '/profileImg_'+ this.user.profile_image  +'.png'
        
    },
}

</script>

<style scoped>
.info-public-profile:hover + div{
    display: inline-block;

}
</style>