<template >
    <router-view name="navBar" :user="authenticatedUser"/>
 
    <router-view name="profile" @onDescriptionExtended="updateSpacing" :user="user"/>
    
    <router-view :style="{ 'margin-top': 'calc( '+ spacing+'px - 150px)'}" class="mb-20" :user="user" 
    :allowEdit="user != null && user != undefined && 'id' in user && 
                authenticatedUser != null && authenticatedUser != undefined && 'id' in authenticatedUser ?
                user.id == authenticatedUser.id : false"/>

    <router-view name="projects-create" :user="user" 
    :allowEdit="user != null && user != undefined && 'id' in user && 
                authenticatedUser != null && authenticatedUser != undefined && 'id' in authenticatedUser ?
                user.id == authenticatedUser.id : false"/>
 
</template>

<script>
import UserService from '../graphql/users'
import { useQuery } from '@vue/apollo-composable'
import { computed } from 'vue'

export default {
    data(){
        return {
            authenticatedUser: {},
            user: {},
            spacing: 180
        }
    },
    methods: {
        updateSpacing(data){
            this.spacing = data
        },
        getPageUser(){
            let {result} = useQuery(UserService.GET_USER_BY_ID(this.$route.params.userId))
            this.user = computed( () => result.value?.getUserById != false ? result.value?.getUserById ?? null : false)
        },
        getAuthenticatedUser(){
            let authenticatedUser = this.getSession()
            return {id: authenticatedUser.id ,name: authenticatedUser.name}
        },
        userAllowed(){
            if ( this.user == null || !('profile_public' in this.user) )
                return true
            if ( this.user != null && 'profile_public' in this.user && this.user.profile_public === true)
                return true

            if ( this.user.id === this.authenticatedUser.id )
                return true

            if ( this.authenticatedUser.id == undefined )
                this.$router.push({name: 'login'})
            else

            this.$router.push(`/users/${this.authenticatedUser.id}/`)


        }
    },
    watch:{
        user:{
            handler(){
                this.userAllowed()

            },
            deep: true,
        }
    },
    mounted(){
        this.getPageUser()
        this.authenticatedUser = this.getAuthenticatedUser()
        
        // Title manipulation
        let unwatchTitle = this.$watch('user', (newValue) => {
            if ( newValue !== null &&  'name' in newValue ){
                document.title = 'Pandora Code - ' + newValue.name
                unwatchTitle()

            }

        })
        
        
    }
}
</script>