<template>
    <div class="w-full bg-gradient-to-r from-primary1 to-primary2 h-16 relative pt-10 flex shadow-md">
        <button style="z-index:999" class="bg-white h-10 w-10 rounded-full -mt-7 ml-4 shadow-sm hover:scale-[1.05] duration-150" 
        @click="goBack">

            <font-awesome-icon :icon="['fas', 'arrow-left']"/>
        </button>
        <span class="text-white -mt-5 ml-3">Voltar</span>
        <router-view name="navBar" :user="user"/>
    </div>
        
    <div class="mt-10 mb-5 ml-10 w-10/12 ">
        <h1 class="text-3xl font-semibold text-primary1 self-start ">Detalhes do Projeto</h1>
    </div>

    <div class="w-7/12 ml-10 mt-5">
      <div class="flex items-center rounded-md py-2 px-2.5 bg-stone-50 shadow-sm border mb-1">
        <span class="h-12 w-12 bg-secondary1 inline-block text-center py-1.5 rounded-lg shadow-inner
        text-white text-3xl">{{ input.name.charAt(0) }}</span>
        <span class="font-Ubuntu text-2xl ml-4">{{ input.name }}</span>
      </div>
      
      <div class="mb-4 rounded-md py-2 px-2.5 bg-stone-50 shadow-sm border">
        <span class="font-semibold text-primary2 self-start">Estado: </span>     
        <span class="h-6 w-6 text-sm px-1.5 shadow-sm py-1 bg-stone-400 text-white rounded" 
        v-if="input.stateDropDown.selected.length === 0">Vazio</span> 
        <span v-else class="text-white bg-primary1 px-3 rounded-full py-1 shadow-sm">{{ input.stateDropDown.selected.text }}</span>

        <span class="font-semibold text-primary2 self-start ml-2 border-l-2 pl-2">Tags: </span>
        <span class="h-6 w-6 text-sm px-1.5 shadow-inner py-1 bg-stone-400 text-white rounded" 
        v-if="input.tagDropDown.selected.length === 0">Vazio</span>
        <span v-else class="mr-2 text-white bg-primary1 px-3 rounded-full py-1 shadow-inner">{{ tagsArrayToList }}</span>
        
        <span class="font-semibold text-primary2 self-start ml-2 border-l-2 pl-2">Linguagens: </span>
            <span class="h-6 w-6 text-sm px-1.5 shadow-inner py-1 bg-stone-400 text-white rounded" 
            v-if="input.languagesDropDown.selected.length === 0">Vazio</span>
            <span v-else class="mr-2" v-for="language in input.languagesDropDown.selected" :key="language.text">
                <img class="h-6 w-6 inline-block" 
                  :src="require(`../../public/images/languages/${language.path}`)" :alt="language.text" >
        </span>
      </div>
      <div v-if="input.repository.length !== 0">
        <span class="font-semibold text-primary2 self-start mr-3">Repositório:</span> 
        <span class="text-gray-500">{{ input.repository }}</span>

        
      </div>
    </div>
    
    <div class="ml-10 mt-5 relative">
        <span class="font-semibold text-primary2 self-start">Descrição </span>        
        <div class="flex justify-between mt-2">
          <textarea disabled name="description" id="" cols="64" rows="8" maxlength="511" v-model="input.description"
            class="border resize-none text-lg w-[40rem] rounded shadow px-2 py-1 focus:outline-primary1 focus:outline-1" />
    
          <div class="mr-4 ml-5">
            <carousel v-if="input.images.urls.length > 0" :items-to-show="1">
              <slide v-for="(url,index) in input.images.urls" :key="index">
                <img :src="url" alt="img" style="max-height:250px">
              </slide>
    
              <template #addons>
                <navigation />
                <pagination />
              </template>
            </carousel>
          </div>
        </div>
    </div>
    
    <div class="mt-10 mb-10 ml-10" v-if="allowEdit">
      <button @click="() => this.$router.push({name: 'projects-update', params: { userId : this.user.id, projectId: this.$route.params.projectId }} )" class="h-11 w-2/6 bg-primary1 text-white mt-4 rounded text-lg select-none duration-150
        hover:bg-primary2">
        <font-awesome-icon class="mr-2" :icon="['fas', 'pen']"/>
        <span>Editar</span>
      </button>
    </div>
    </template>
    
    <script>
    import 'vue3-carousel/dist/carousel.css'
    import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'
    
    import ProjectService from '../graphql/projects'
    import gql from 'graphql-tag';
    import { useQuery } from '@vue/apollo-composable'
    
    export default {
        name: "ProjectsDetailView",
        inheritAttrs: false,
        components: {Carousel, Slide, Pagination, Navigation},
        props: {
          user: {
            id: String,
            name: String
          },
          allowEdit: Boolean,
        },
        data(){
            return {
                stateEnum: [
                  {original: 'To start', translation: 'Por começar'},
                  {original: 'Under development', translation: 'Em desenvolvimento'},
                  {original: 'Done', translation: 'Terminado'},
                ],
                input: {
                    name: '',
                    repository: '',
                    description: '',
                    images: {
                      files: [],
                      urls: []
                    },
                    stateDropDown: {
                      values: [
                        {index: 0, text: ''},
                        {index: 1, text: ''},
                        {index: 2, text: ''}
                      ],
                      selected: ''
                    },
                    tagDropDown: {
                      values: [],
                      selected: []
                    },
                    languagesDropDown: {
                      values: [],
                      selected: []
                    },
                },
            }
        },
        methods: {
          mapLanguageFromBackend (language) {
            return {
              index: language.id,
              text: language.name,
              imagePath: language.imagePath
            }
          },
          mapTagFromBackend(tag) {
            return {
              index: tag.id,
              text: tag.name 
            };
          },
          getTextFromStateEnum(text) {
            if(text === this.stateEnum[0].original)
              return this.stateEnum[0].translation
            if(text === this.stateEnum[1].original)
              return this.stateEnum[1].translation
            return this.stateEnum[2].translation
          },
          goBack() {
            this.$router.push({name: 'user', params: { userId : this.user.id }} )
          },
          async populateLanguagesAndTags() {
            const storageData = localStorage.getItem('cachedData')
            if(storageData) {
              const cachedData = JSON.parse(storageData)
              this.input.tagDropDown.values = cachedData.tags
              this.input.languagesDropDown.values = cachedData.languages
              return;
            }
    
            const GET_TAGS_LANGUAGES_QUERY = gql`
              query {
                getTags{
                  id
                  name
                },
                getAllLanguages {
                  id,
                  name,
                  imagePath
                }
              }
              `
              
            const{ onResult } = await useQuery(GET_TAGS_LANGUAGES_QUERY) 
    
            onResult((result) => {
              const tags = result.data?.getTags ?? [];
              const languages = result.data?.getAllLanguages ?? [];
    
              this.input.tagDropDown.values = tags.map(this.mapTagFromBackend)
              this.input.languagesDropDown.values = languages.map(this.mapLanguageFromBackend)
    
              localStorage.setItem('cachedData', JSON.stringify({
                tags: this.input.tagDropDown.values,
                languages: this.input.languagesDropDown.values
              }))
            })
          },
          async populateProject() {
            const projectId = this.$route.params.projectId
            
            // Get project by id
            const { onResult, refetch } = useQuery(ProjectService.GET_PROJECT_BY_ID(projectId))
            
            onResult((result) => this.parseProject(result.data?.getProjectById))
            
            if ( this.input.name === '')
                refetch();
            
        },
          parseProject(project) {
            this.input.name = project.name
            this.input.repository = project.repository ?? ''
            this.input.description = project.description ?? ''
            this.input.date = project.date
            this.input.stateDropDown.selected = this.input.stateDropDown.values.find(state => this.getTextFromStateEnum(project.state) === state.text)
            this.input.images.urls = project.images?.map(image => 'https://neuensar.sirv.com/PANDORA_CODE/'+ image.path.replace('%2F','/') + /* TODO: remove extension and create project image with extension in db*/ '.png') ?? [];
    
            this.input.tagDropDown.selected = project.tags.map(tag => {
              return {
                index: tag.tagId, 
                text: this.input.tagDropDown.values.find(ddownTag => ddownTag.index === tag.tagId).text
              }
            }) ?? [];

            this.input.languagesDropDown.selected = project.languages.map(language => {
              const backendLanguage = this.input.languagesDropDown.values.find(ddLanguage => ddLanguage.index === language.languageId)
              return {
                index: language.languageId,
                text: backendLanguage.text,
                path: backendLanguage.imagePath
              }
            }) ?? [];
          }
        },
        computed: {
          tagsArrayToList() {
            let tags = '';
            this.input.tagDropDown.selected.forEach((tag, index) => 
              tags += tag.text + (index === this.input.tagDropDown.selected.length-1 ? '' : ', ')
            )
            return tags;
          }
        },
        async mounted() {
          this.input.stateDropDown.values.forEach((state,index) => state.text = this.stateEnum[index].translation)
          await this.populateLanguagesAndTags();
          this.populateProject();
        }
    }
</script>