<template>
  <div class="w-full bg-gradient-to-r from-primary1 to-primary2 h-16 relative pt-10 flex shadow-md">
      <button style="z-index:999" class="bg-white h-10 w-10 rounded-full -mt-7 ml-4 shadow-sm hover:scale-[1.05] duration-150" 
      @click="goBack">

          <font-awesome-icon :icon="['fas', 'arrow-left']"/>
      </button>
      <span class="text-white -mt-5 ml-3">Voltar</span>
      <router-view name="navBar" :user="user"/>
  </div>
      
  <div class="mt-10 mb-5 ml-10 w-10/12 ">
      <h1 class="text-3xl font-semibold text-primary1 self-start ">Editar Projeto</h1>
  </div>
  <span class="self-start ml-10 text-slate-600 text-xs font-mono">(*) - Campos obrigatórios</span>
  
  <div class="ml-8 mb-5 w-610 mt-5 flex relative">    
      <dropdown-menu class="mt-1 ml-2" ref="stateMenu"
          @word-selected="onStateDropDownSelected" :multiSelect=false
          dropdownTitle="Estado" :words="this.input.stateDropDown.values"/>
  
      <dropdown-menu v-if="this.input.tagDropDown.values.length > 0" 
          class="mt-1 border-l" ref="tagMenu"
          @word-selected="onTagDropDownSelected" :multiSelect=true
          dropdownTitle="Etiquetas" :words="this.input.tagDropDown.values"/>
      <dropdown-menu v-if="this.input.languagesDropDown.values.length > 0" 
          class="mt-1 border-l" ref="languageMenu"
          @word-selected="onLanguagesDropDownSelected" :multiSelect=true
          dropdownTitle="Linguagens" :words="this.input.languagesDropDown.values"/>
  
      <input type="file" multiple accept="image/*" @change="readFile()" class="block ml-4 mt-2 w-3/4 text-xs file:bg-primary2 file:rounded-full
              file:h-8 file:px-4 file:text-base file:border-0 file:shadow-none hover:file:bg-primary2 file:text-nearWhite 
              file:duration-150 hover:file:cursor-pointer file:font-normal" ref="fileInput">
  </div>
  
  <div v-if="error.name" class="mt-5 ml-10 text-red-500"><font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.name}}</div>
  <div v-if="error.state" class="mt-5 ml-10 text-red-500"><font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.state}}</div>
  <div v-if="error.repository" class="mt-5 ml-10 text-red-500"><font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.repository}}</div>
  
  <div class="w-7/12 ml-10 mt-5 grid grid-cols-2 gap-2">
    <div>
      <label class="self-start mt-3 text-slate-600 text-sm font-mono">Nome *</label></div>
    <div>
      <label class="self-start mt-3 text-slate-600 text-sm font-mono">Repositório</label></div>
    <div>  
      <input v-model="input.name" class="h-10 w-full mt-1 rounded border border-slate-400 px-2 text-lg"
        @keyup.enter="requestFocusOn('emailInput')" ref="nameInput">
    </div>
    <div>
      <input v-model="input.repository" class="h-10 w-full mt-1 rounded border border-slate-400 px-2 text-lg"
          @keyup.enter="requestFocusOn('repositoryInput')" ref="repositoryInput">
    </div>
  </div>
  
  <div class="ml-10 mt-5 relative">
    <span class="font-semibold text-primary2 self-start">Estado: </span>     
    <span class="h-6 w-6 text-sm px-1.5 shadow-sm py-1 bg-stone-400 text-white rounded" 
    v-if="input.stateDropDown.selected.length === 0">Vazio</span> 
    <span v-else>{{ input.stateDropDown.selected.text }}</span>
  </div>
  
  <div class="ml-10 mt-5 relative">
      <span class="font-semibold text-primary2 self-start">Tags: </span>
      <span class="h-6 w-6 text-sm px-1.5 shadow-sm py-1 bg-stone-400 text-white rounded" 
      v-if="input.tagDropDown.selected.length === 0">Vazio</span>
      <deletable-badge v-for="(tag, index) in input.tagDropDown.selected" :key="index"
          class="ml-2 mt-2" :badgeText="tag.text" @badge-deleted="deleteTag(tag)" />
  
      <div class="mt-5">
          <span class="font-semibold text-primary2 self-start">Linguagens: </span>
          <span class="h-6 w-6 text-sm px-1.5 shadow-sm py-1 bg-stone-400 text-white rounded" 
          v-if="input.languagesDropDown.selected.length === 0">Vazio</span>
          <deletable-badge v-for="(language, index) in input.languagesDropDown.selected" :key="index"
              class="ml-2 " :badgeText="language.text" @badge-deleted="deleteLanguage(language)" />
      </div>
  </div>
  
  <div class="ml-10 mt-5 relative">
      <span class="font-semibold text-primary2 self-start">Descrição: </span>        
      <div class="flex justify-between">
        <textarea name="description" id="" cols="64" rows="8" maxlength="511" v-model="input.description"
          class="border resize-none text-lg w-[40rem] rounded shadow px-2 py-1 focus:outline-primary1 focus:outline-1" />
  
        <div class="mr-4 ml-5">
          <carousel v-if="input.images.urls.length > 0" :items-to-show="1">
            <slide v-for="(url,index) in input.images.urls" :key="index">
              <img :src="url" alt="img" style="max-height:250px">
            </slide>
  
            <template #addons>
              <navigation />
              <pagination />
            </template>
          </carousel>
        </div>
      </div>
  </div>
  
  <div class="mt-10 mb-10 ml-10">
    <button @click="inputSubmit" class="h-11 w-2/6 bg-primary1 text-white mt-4 rounded text-lg select-none duration-150
      hover:bg-primary2">
      <font-awesome-icon v-if="isLoading" :icon="['fas', 'spinner']" class="animate-spin"/>
      <font-awesome-icon v-else class="mr-2" :icon="['fas', 'plus']"/>
      <span>Guardar</span>
    </button>
  </div>
  </template>
  
  <script>
  import DropdownMenu from '@/components/DropdownMenu/DropdownMenu'
  import DeletableBadge from '@/components/DeletableBadge/DeletableBadge'
  import  * as Util from "@/util";
  import 'vue3-carousel/dist/carousel.css'
  import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'
  
  import ProjectService from '../graphql/projects'
  import gql from 'graphql-tag';
  import { useQuery, useMutation } from '@vue/apollo-composable'
  import axios from 'axios';
  
  export default {
      name: "ProjectsUpdateView",
      inheritAttrs: false,
      components: {DropdownMenu, DeletableBadge, Carousel, Slide, Pagination, Navigation},
      props: {
        user: {
          id: String,
          name: String
        },
        allowEdit: Boolean
      },
      data(){
          return {
              isLoading: false,
              stateEnum: [
                {original: 'To start', translation: 'Por começar'},
                {original: 'Under development', translation: 'Em desenvolvimento'},
                {original: 'Done', translation: 'Terminado'},
              ],
              input: {
                  name: '',
                  repository: '',
                  description: '',
                  images: {
                    files: [],
                    urls: []
                  },
                  stateDropDown: {
                    values: [
                      {index: 0, text: ''},
                      {index: 1, text: ''},
                      {index: 2, text: ''}
                    ],
                    selected: ''
                  },
                  tagDropDown: {
                    values: [],
                    selected: []
                  },
                  languagesDropDown: {
                    values: [],
                    selected: []
                  },
              },
              error: {
                  name: false,
                  state: false,
                  repository: false
              },
          }
      },
      methods: {
        validateName() {
          const EMPTY = 'O nome não pode estar vazio!';
          const TOO_BIG = 'O nome não pode ser superior a 32 carateres!';
  
          // Não pode estar vazio ou com espaços em branco
          if(this.input.name.trim() === '') {
              this.error.name = EMPTY;
              return false;
          }
              
          // Não pode ser demasiado grande
          if(this.input.name.length > 32) {
              this.error.name = TOO_BIG;
              return false;
          }
          
          this.error.name = '';
          return true;
        },
        validateState() {
          if(this.input.stateDropDown.selected === '') {
            this.error.state = 'O estado do projeto é obrigatório!'
            return false;
          }
          this.error.state = '';
          return true;
        },
        validateRepository() {
          const TOO_BIG = 'O link do repositório não pode ser superior a 256 carateres!';
  
          if(!this.input.repository)
            return true;
  
          // Se estiver vazio, valida
          if(this.input.repository.trim() === '')
              return true;
              
          // Não pode ser demasiado grande
          if(this.input.repository.length > 256) {
              this.error.repository = TOO_BIG;
              return false;
          }
  
          this.error.repository = '';
          return true;
        },
        validateInput() {
          return this.validateName() && this.validateState() && this.validateRepository();
        },
        mapLanguageFromBackend (language) {
          return {
            index: language.id,
            text: language.name,
            imagePath: language.imagePath
          }
        },
        mapTagFromBackend(tag) {
          return {
            index: tag.id,
            text: tag.name 
          };
        },
        getTextFromStateEnum(text) {
          if(text === this.stateEnum[0].original)
            return this.stateEnum[0].translation
          if(text === this.stateEnum[1].original)
            return this.stateEnum[1].translation
          return this.stateEnum[2].translation
        },
        getEnumStateFromText(text) {
          if(text === this.stateEnum[0].translation)
            return 'To start';
          if(text === this.stateEnum[1].translation)
            return 'Under development';
          return 'Done';
        },
        async uploadImage(image, url) {
          const token = await this.getSirvApiKey();
          await this.uploadImageToApi( image, token, url);
        },
        async deleteImages(apiKey){
  
          const requests = [];
          const headers = {
            headers: {
              Authorization: "Bearer "+ apiKey,
              'Content-Type': "application/json"
            }
          }
  
          this.input.images.lastUrls.map(image => 
            'https://api.sirv.com/v2/files/delete?filename=%2F' + 
              image.replace('https://neuensar.sirv.com/', '').replace('////g', '%2F')
            )
              .forEach(image => {
                requests.push(axios.post(image, null, headers))
                console.log(image)

              })
  
          try {
            await Promise.all(requests); 
          } catch (error) {
            console.log(error);
          }
        },
        async getBase64FromImageUrl(url) {
          try {
            const response = await fetch(url);
            const blob = await response.blob();
            return blob;
          } catch (error) {
            console.error(error);
            return null;
          }
        },
        async updateImages(imageFiles/*, imagesUrl*/) {
          const apiKey = await this.getSirvApiKey();
          
          const payloadImages = []
          const requests = []
  
          // O projeto não tinha nenhuma imagem anterior
          if(this.input.images.lastUrls && this.input.images.lastUrls.length > 0)
            await this.deleteImages(apiKey);

          imageFiles.forEach((image, index) => {
            const imagePath = this.user.id + '%2Fproject_' + Date.now() + '_' + index;
            payloadImages.push(imagePath)
            requests.push(this.uploadImage(image, imagePath))
          });
  
          // Corre todos os requests em simultâneo
          try {
            await Promise.all(requests);
          } catch (error) {
            console.log(error);
            return;
          }
          return payloadImages;
        },
        async updateProject() {
          this.isLoading = true
          const tags = this.input.tagDropDown.selected;
          const languages = this.input.languagesDropDown.selected;
          const imageFiles = this.input.images.files
          let images = this.input.images.urls;
  
          const payload = {
            id: this.$route.params.projectId,
            userId: this.user.id,
            name: this.input.name,
            state: this.getEnumStateFromText(this.input.stateDropDown.selected.text),
            date: this.input.date
          }

          this.input.description = this.input.description.replaceAll('\n', '. ')
  
          if(this.input.repository.length > 0)
            payload.repository = this.input.repository;
  
          if(this.input.description.length > 0)
            payload.description = this.input.description;
  
          if(tags.length > 0)
            payload.tags = tags.map(tag => tag.index);
          
          if(languages.length > 0)
            payload.languages = languages.map(language => language.index);
  
          if(images.length > 0)
            payload.images = await this.updateImages(imageFiles, images);
  
          const request = ProjectService.UPDATE_PROJECT({
              id: payload.id,
              name: payload.name,
              repository: payload.repository,
              date: payload.date,
              userId: payload.userId,
              state: payload.state,
              description: payload.description,
              languages: payload.languages,
              tags: payload.tags,
              images: payload.images
          })

          const { mutate } = useMutation(request)
          mutate().then( () => {
            this.isLoading = false
            // TODO: Apresentar a Modal de sucesso
            this.$router.push({name: 'user', params: { userId : this.user.id }} )
          })
        },
        inputSubmit() {
          if ( !this.validateInput() )
            return
          this.updateProject();
        },
        deleteLanguage(value) {
          Util.default.arrayDelete(this.input.languagesDropDown.selected,value);
          this.$refs.languageMenu.removeFromSelected(value);
        },
        deleteTag(value) {
          Util.default.arrayDelete(this.input.tagDropDown.selected,value);
          this.$refs.tagMenu.removeFromSelected(value);
        },
        onStateDropDownSelected(value) {
          this.input.stateDropDown.selected = value;
        },
        onTagDropDownSelected(value) {
          Util.default.arrayInsert(this.input.tagDropDown.selected,value);
        },
        onLanguagesDropDownSelected(value) {
          Util.default.arrayInsert(this.input.languagesDropDown.selected,value);
        },
        goBack() {
          this.$router.push({name: 'user', params: { userId : this.user.id }} )
        },
        readFile(){
          if(this.input.images.urls.length > 0)
            this.input.images.lastUrls = this.input.images.urls
          this.input.images.files = Array.from(this.$refs.fileInput.files);
          this.convertImagesToUrls();
        },
        convertImagesToUrls() {
          this.input.images.urls = [];
  
          this.input.images.files.forEach((file) => {
            const reader = new FileReader();
  
            reader.onload = (event) => 
              this.input.images.urls.push(event.target.result);
  
            reader.readAsDataURL(file);
          });
        },
        async populateLanguagesAndTags() {
          const storageData = localStorage.getItem('cachedData')
          if(storageData) {
            const cachedData = JSON.parse(storageData)
            this.input.tagDropDown.values = cachedData.tags
            this.input.languagesDropDown.values = cachedData.languages
            return;
          }
  
          const GET_TAGS_LANGUAGES_QUERY = gql`
            query {
              getTags{
                id
                name
              },
              getAllLanguages {
                id,
                name,
                imagePath
              }
            }
            `
            
          const{ onResult } = await useQuery(GET_TAGS_LANGUAGES_QUERY) 
  
          onResult((result) => {
            const tags = result.data?.getTags ?? [];
            const languages = result.data?.getAllLanguages ?? [];
  
            this.input.tagDropDown.values = tags.map(this.mapTagFromBackend)
            this.input.languagesDropDown.values = languages.map(this.mapLanguageFromBackend)
  
            localStorage.setItem('cachedData', JSON.stringify({
              tags: this.input.tagDropDown.values,
              languages: this.input.languagesDropDown.values
            }))
          })
        },
        async populateProject() {
          const projectId = this.$route.params.projectId
          
          // Get project by id
          const{ onResult, refetch } = await useQuery(ProjectService.GET_PROJECT_BY_ID(projectId)) 
  
          onResult((result) => {
            // this.input = this.parseProject(result.data?.getProjectById)
            this.parseProject(result.data?.getProjectById)
          })

          if ( this.input.name === '')
              refetch();
        },
        parseProject(project) {
          this.input.name = project.name
          this.input.repository = project.repository ?? ''
          this.input.description = project.description ?? ''
          this.input.date = project.date
          this.input.stateDropDown.selected = this.input.stateDropDown.values.find(state => this.getTextFromStateEnum(project.state) === state.text)
          this.input.images.urls = project.images?.map(image => 'https://neuensar.sirv.com/PANDORA_CODE/'+ image.path.replace('%2F','/') + '.png') ?? [];
  
          this.input.tagDropDown.selected = project.tags.map(tag => {
            return {
              index: tag.tagId, 
              text: this.input.tagDropDown.values.find(ddownTag => ddownTag.index === tag.tagId).text
            }
          }) ?? [];
  
          this.input.languagesDropDown.selected = project.languages.map(language => {
            return {
              index: language.languageId,
              text: this.input.languagesDropDown.values.find(ddLanguage => ddLanguage.index === language.languageId).text
            }
          }) ?? [];
        }
      },
      async mounted() {
        this.input.stateDropDown.values.forEach((state,index) => state.text = this.stateEnum[index].translation)
        await this.populateLanguagesAndTags();
        this.populateProject();


        if ( this.allowEdit == false)
          await this.$router.push({name: 'login'})
      }
  }
  
</script>