<template>
    <div>
        <div class="flex px-40 justify-between " v-if="allowEdit">
            <button @click="() => this.$router.push('projects/create')" 
            class="px-6 bg-primary1 h-10 rounded-full text-white capitalize shadow
            hover:bg-primary2 duration-150 hover:cursor-pointer">
                criar projeto
                <font-awesome-icon :icon="['fas', 'plus']"/>
            </button>
            <button @click="openDeleteModal" :disabled="userProjects.length < 1"
            class="px-6 bg-red-500 h-10 rounded-full text-white capitalize shadow
            hover:bg-red-700 duration-150 hover:cursor-pointer disabled:opacity-50">
                Eliminar Projetos
                <font-awesome-icon :icon="['fas', 'trash']"/>
            </button>
        </div>
    
        <div class="flex justify-center mt-7">
            <div v-if="!isObjectEmpty(userProjects)" class="w-4/5 grid grid-cols-3 gap-x-10 gap-y-6">
                
                <div v-for="project in userProjects" :key="project.id" 
                class="bg-nearWhite h-64 shadow-md rounded-lg border-blue-300 border">

                    <div class="flex flex-col h-full w-full justify-between px-3 pb-3 font-Ubuntu">
                        <div class="flex flex-col justify-between relative">
                            <div class="text-2xl font-sans text-slate-800 mt-4">{{ project.name }}</div>
                            <div class="text-xs font-mono italic px-2 h-5 rounded-b shadow-sm 
                            pt-0.5 bg-primary1 text-white absolute right-0">{{ stateTranslation(project.state) }}</div>

                            <div class="font-sans text-sm text-gray-600 px-0.5 break-words">{{ minimizeDescription(project.description) }}</div>
                        </div>
                        

                        <div class="flex flex-col">
                            <div class="mt-3 text-sm">Categorias: 
                                <span class="h-6 w-6 text-sm px-1.5 shadow-sm py-1 bg-stone-400 text-white rounded" 
                                v-if="isObjectEmpty(projectTags[project.id])">Vazio</span>

                                <span class="mr-1.5 text-sm px-1.5 shadow-sm py-1 bg-primary1 text-white rounded" 
                                v-for="tag in projectTags[project.id]" :key="tag.name">{{ tag.name }}</span>
                                
                            </div>
                            <div class="mb-1.5 mt-2 text-sm">Linguagens: 
                                <span class="h-6 w-6 text-sm px-1.5 shadow-sm py-1 bg-stone-400 text-white rounded" 
                                v-if="isObjectEmpty(projectLanguages[project.id])">Vazio</span>

                                <span class="mr-2" v-for="language in projectLanguages[project.id]" :key="language.name">
                                    <img class="h-6 w-6 inline-block" 
                                    :src="require(`../../public/images/languages/${language.imagePath}`)" :alt="language.name" >
                                </span>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="text-gray-500 text-sm">
                                    {{ toEuropeanDate( project.date) }}</div>
                                <button @click="() => this.$router.push({name: 'projects-details', params: { userId : this.user.id, projectId: project.id }} )" 
                                class="bg-blue-500 w-32 h-9 shadow rounded-full text-white 
                                hover:bg-blue-600 hover:text-white duration-150 hover:tracking-wide
                                font-sans">Abrir Projeto</button>
                            </div>
                        </div>
                    
                    </div>
                    

                
                </div>
                
                
            </div>
            <div v-else class="flex flex-col justify-start align-middle text-9xl">
                
                <font-awesome-icon :icon="['fas', 'exclamation-circle']" class="text-slate-700 opacity-20"/>

                <p class="text-lg text-gray-500 mt-4 font-semibold">Ainda não existe nenhum projeto criado!</p>
            </div>
            
        </div>

        <div v-if="isModalOpen" class="flex justify-center fixed top-0 h-full w-full items-center bg-gray-800 bg-opacity-50">
            <div ref="modalContainer" class="w-1/2 h-1/2 bg-white rounded-md flex flex-col shadow-md">
                <div class="h-1/6 bg-white w-full flex py-4 px-2 justify-between rounded-t-md shadow">
                    <p class="text-xl font-Ubuntu">Eliminar Projetos</p>
                    <button @click="closeDeleteModal" class="text-gray-400 text-2xl hover:text-red-600 duration-200 opacity-60 hover:opacity-100">
                        <font-awesome-icon :icon="['fas', 'circle-xmark']" class="shadow rounded-full"/>
                    </button>
                </div>

                <div class="h-4/6 overflow-y-auto shadow-inner">

                    <table class="w-full ">
                        <tr>
                            <th class="border-r border-b w-5/6">Nome do projeto</th>
                            <th class="border-b">Eliminar</th>
                        </tr>
                        <tr v-for="project in userProjects" :key="project.id" class="even:bg-gray-200">
                            <td class="border-r border-b w-5/6 px-3 h-8">{{ project.name}}</td>
                            <td class="border-b px-12">
                                <input type="checkbox" class="h-4 w-4" :value="project.id" v-model="projectsToDelete" />
                            </td>
                            
                        </tr>
                    </table>

                </div>
                
                <div class="h-1/6 flex items-center justify-end border-t-2">
                    <button class="mr-3 px-2 h-8 rounded-full shadow border border-gray-400 hover:border-gray-300 hover:bg-gray-300 duration-150"
                    @click="closeDeleteModal">Cancelar</button>
                    <button class="mr-3 px-4 h-8 rounded-full shadow bg-red-500 text-white hover:bg-red-700 duration-150
                    disabled:opacity-50"
                    @click="deleteProjects" :disabled=" projectsToDelete.length < 1">Eliminar</button>
                </div>
    
            </div>
        
        </div>
    </div>

</template>

<script>
import ProjectService from '@/graphql/projects'
import LanguageService from '@/graphql/languages'
import TagService from '@/graphql/tags'
import { useQuery, useMutation } from '@vue/apollo-composable'
import { computed /*, watchEffect */} from 'vue'



export default {
    data(){
        return {
            userProjects: [],
            projectLanguages: {},
            projectTags: {},
            isModalOpen: false,
            projectsToDelete: [],
        }
    },
    props:{
        user:{
            id: String,
        },
        allowEdit: Boolean,
    },
    methods:{
        stateTranslation(state){
            if ( state == 'To start')
                return 'Por começar'
            if ( state == 'Under development')
                return 'Em desenvolvimento'
            if ( state == 'Done')
                return 'Terminado'

            
        },
        handleClickOutsideDeleteModal(event) {
            
            if ( this.$refs.modalContainer != null &&  !this.$refs.modalContainer.contains(event.target) ) {
                this.closeDeleteModal()
            }
        },
        closeDeleteModal(event){
            if ( event != undefined)
                event.stopPropagation()
            this.isModalOpen = false
            
            document.body.style.overflowY = 'scroll'
            this.projectsToDelete = []
        },
        openDeleteModal(event){
            event.stopPropagation()
            document.body.style.overflowY = 'hidden'
            this.isModalOpen = true
        },
        getUserProjects(id){

            let {result, refetch} = useQuery(ProjectService.GET_USER_PROJECTS(id) )

            if(this.userProjects.length === 0)
                refetch()

            return computed( () => result.value?.getUserProjects ?? [] )

        },
        getProjectLanguages( id, limit = null){
            let { result} = useQuery(LanguageService.GET_PROJECT_LANGUAGES(id, limit) )
            
            
            this.projectLanguages[id] = computed( () => result.value?.getProjectLanguages ?? {})
            

        },
        getProjectTags( id, limit = null){
            let { result } = useQuery(TagService.GET_PROJECT_TAGS(id, limit) )
            this.projectTags[id] = computed( () => result.value?.getProjectTags ?? {})
        },
        toEuropeanDate(strDate ){
            let d = new Date(strDate)

            return d.getDate() + '/' + (d.getMonth() +1) + '/' + d.getFullYear()


        },
        isObjectEmpty(obj) {
            for (const prop in obj) 
                if (Object.hasOwn(obj, prop)) 
                    return false;

            return true;
        },
        async deleteProjects(){
            let graphqlFormatString = '['

            this.projectsToDelete.forEach(projectId => {
                graphqlFormatString += `"${projectId}",`
                
            });

            graphqlFormatString += "]"
            
            const { mutate } = useMutation(ProjectService.DELETE_PROJECTS(graphqlFormatString))
            this.isLoading = true;

            try {
                await mutate();
                this.isLoading = false;

            } catch (error) {
                // Handle any errors
                console.error(error);
                this.isLoading = false;
            }

            this.$router.go()
        },
        minimizeDescription(description) {
            const maxlength = 111
            return description && description.length > maxlength ? description.slice(0, maxlength) + '...' : description;
        },
    },
    watch:{
        userProjects: {
            immediate: true,
            handler() {
                this.userProjects.forEach((project) => {
                    this.getProjectLanguages(project.id, 3);
                    this.getProjectTags( project.id, 3);
                });
            },
        },
        user:{
            handler(){
                if ( this.user != null && this.user.id != null && this.user.id != undefined){
                    this.userProjects = this.getUserProjects(this.user.id)
                    
                }


            },
            deep: true
        },
    },
//     created() {
//         watchEffect(() => {
//             if (this.user != null && this.user.id != null && this.user.id != undefined) {
//                 this.getUserProjects();
//             }
//         });
//   },
    mounted() {
        
        if (this.user != null && this.user.id != null && this.user.id != undefined) {
            this.getUserProjects();
        }

        window.addEventListener('click', this.handleClickOutsideDeleteModal);

  
    },
    beforeUnmount() {
        window.removeEventListener('click', this.handleClickOutsideDeleteModal);
    },
}
</script>
